@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Mono&display=swap');

:root{
    --font: sans-serif;
}
*{
    font-family: var(--font);
}
#ham{
    display: none;
}
body{
    background: linear-gradient(to left,#00c8ff,#007fff);
    /* background: linear-gradient(135deg,#0628f7,#00fff6); */
    /* background: linear-gradient(135deg,#0628f7,#00fff6); */
}
.myshop{
    cursor: pointer;
}
#navbar{
    background-color: white;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    position: relative;
}
nav a{
    /* font-family: var(--font); */
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;

}

nav a:hover{
    /* background: linear-gradient(to right,#029fdc,#00d4ff); */
    background-color: black;
    color: white;
    text-decoration: underline;
}

#icon{
    font-size: 50px;
}
#btn{
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    padding-bottom: 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding:10px 10px;
    font-size: 1.3rem;
}
#btn:hover{
    background-color:rgb(216, 216, 216); 
    /* color: black; */
}
#bars{
    font-size: 20px;
    position: absolute;
    left: 25px;
    display: none;
}
#bars:focus{
    outline: none;
}

@media(max-width:765px) {
    
    nav a{
        display: block;
    }
    #bars{
        display: inline;
        z-index: 1;
        border: 2px solid black ;
        padding: 0px 10px;
        border-radius: 5px;

    }
    #nav{
        display: none;
        width: 100%;        
    }
    #nav.show{
        display: block;
        animation:slide 0.5s ease; 
        animation-fill-mode: forwards;

    }
    @keyframes slide { 
        0% { 
            width: 100%;
        } 

        100% { 
            width: 40%;
        } 
    } 
    
}
