@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Mono&display=swap');

:root{
    --font:'Poppins', sans-serif;
}
*{
    font-family: var(--font);
}

/* section{
    border: 2px solid red;
} */
/* div{
     border: 2px solid red;
}  */
/* #cardcontainer{
    background-color: white;
} */
#carddiv{
    /* background-color:black; */
    /* justify-content: space-evenly; */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));

} 

.card{
    background-color: white;
    margin: 10px 10px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
.card:hover{
    transform: scale(1.05);
    cursor: pointer;
}

@media (max-width:1000px){
    .card{
        margin: 10px 20px;
    }
}
