{% extends 'base.html'%}
{% block title%}
My shop
{% endblock%}

{% block link%}
{% load static%}
<link rel="stylesheet" href="{% static 'products/css/base.css' %}">
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">

<link rel="icon" type="image/png" sizes="32x32" href="{% static 'products/icon/favicon.ico' %}">
<style>
  @media (max-width:1000px)
  {
    #btn{
      width: 49%;
      height: 50px;
    }
  }
</style>
{% endblock%}

{% block body%}
<!-- {% load static%} -->
<section class="text-gray-600 body-font">
  <div id="cardcontainer" class="container px-5 py-24 mx-auto">
    <div id="carddiv" class="flex flex-wrap -m-4">
      {% for i in product %}
      <div class=" p-4 card">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center h-full block" src="/media/{{i.image}}">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{i.category}}</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium"><u>{{i.product_name|slice:"0:31"}}...</u></h2>
          <!-- <h2 class="text-gray-900 title-font text-lg font-medium">{{i.id}}</h2> -->
          <h2 class="text-gray-900 title-font text-lg font-medium">{{i.desc|slice:"0:50"}}....</h2>
          <p class="mt-1">${{i.price}}</p>
          <button id="btn" 
            class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0" >
            {% if user.is_authenticated %}
            <a href="{% url 'addtocart' id=i.id%}">Add To Cart</a> 
            {%else%}
            <a href="/displaycart/">Add To Cart</a> 
            {%endif%}
          </button>
          <button id="btn"
            class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0 ">
            <a href="{% url 'viewproduct' id=i.id%}">View Product</a>
          </button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
{%block script%}
<script src="https://kit.fontawesome.com/38441474ad.js" crossorigin="anonymous"></script>
{% endblock %}